{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <h1>TRANCE REPORT COMMUNITY</h1>
    <ul>
        <li>
            POSTS TRC
        </li>
        <li>
            POSTS TRC
        </li>
        <li>
            POSTS TRC
        </li>
        <li>
            POSTS TRC
        </li>
    </ul>
{% endblock %}
