{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <ul>

    {% for article in articles %}
        <li style="background-color: yellow;">
            <h2>{{article.title}}</h2>
            {{article.content}}
        </li>
        <hr/>
    {% endfor %}

    </ul>
{% endblock %}
