<html>
    <head>
        <meta charset="utf-8">
        <title>Trance RC</title>
    </head>
    <body>
        <div style="background-color: red;">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
