<html>
    <head>
        <meta charset="utf-8">
        <title>Trance RC</title>
    </head>
    <body style="background-color: red;">
        <nav>
          <a href="">Acceuil</a> <a href="">Nouveau</a> <a href="">Connexion</a>
        </nav>
        <div>
            <h1>Tr_RC</h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
